@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0A0A0D] text-gray-100 font-sans;
  background: radial-gradient(circle at 30% 20%, #111122, #0A0A0D);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background: #555;
}
